.chatcontrol {
  // float: left;
  width: 100%;
  position: initial;
  // bottom: 16px;
  // right: 16px;

  .message-input-actions {
    // position: fixed;
    // right: 16px;
    // bottom: 24px;
    margin-top: -32px;
    float: right;
  }

  ::ng-deep nb-action nb-icon {
    color: #ec7000 !important;
  }

  .chatinput {
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn {
    width: 20%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }
}