.toolbar {
    background-color: #ec7000;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
}

.menu-button {
    border-radius: 0% !important;
    background-color: #ae5100 !important;
    border-color: #ae5100 !important;
    color: white !important;
    height: 76px;
    width: 50px;
}

.menu-button-icon {
    height: 2.75rem !important;
    width: 2.75rem !important;
}

.search-box-holder {
    width: 400px;
}

.search-box {
    border-radius: 16px !important;
}

.spacer {
    flex: 1;
}

.mat-progress-bar-fill {
    background-color: #3fb59a !important;
}

.mat-progress-bar-fill::after {
    background-color: #3fb59a !important;
}

.input-personal-data {
    margin: 16px 0
}

.tracking {
    height: 50%;
}

.buttons {
    margin-top: 10px;
}

.step.completed .label-index {
    background-color: #ec7000 !important;
    border-color: #ec7000 !important;
}

.stepper-label-completed {
    color: green !important;
}

.stepper-label-current {
    color: #ec7000 !important;
}

.stepper-label-todo {
    color: gray !important;
}

nb-chat {
    width: 100%;
}

.simulator {
    justify-content: initial;
    flex-direction: column;
    background-color: white;
}

.resume {
    display: inline-flex;
    height: 200px;
    width: 100%;
    align-content: end;
    margin-top: 24px;
}

.card-container {
    border-radius: 10px;
    border-color: #ec7000;
    background-color: #ec7000;
    margin-right: 10px;
    width: 180px;
    height: 180px;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: auto;
    text-align: left;
    color: white;
    place-content: end;
}

.resume-item-title {
    font-size: small;
    font-weight: normal;
}

.resume-item-value {
    font-size: medium;
    font-weight: bolder;
}

.attached-files {
    margin-bottom: 16px;
}

.btn-attached-files {
    background-color: transparent !important;
    border-color: #36f !important;
    color: #36f !important;
}

.btn-next {
    background-color: #ec7000 !important;
    border-color: #ec7000 !important;
}

.resume-data {
    margin-bottom: 10px;
}

.resume-contet-header {
    display: inline-flex;
    align-items: center;
}

.chatbot {
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    /* position: fixed; */
    /* top: 76px; */
    right: -1px;
}

.chatform {
    width: 100%;
}

::ng-deep nb-card nb-icon.icon-header-summary {
    color: #ec7000 !important;
    height: 40px !important;
    width: 40px !important;
  }

  .nps-ico {
    height: 24px;
    width: 24px;
  }

  .image-header {
    margin-bottom: 30px;
  }