<li [class]="message.fromBot ? 'list-group-item-left' : 'list-group-item-right'" *ngFor="let content of message.content">
  <img [src]="message.avatar" class="avatar-left" *ngIf="message.fromBot"/>
  <div class="message-container">
    <div class="message">
      <div [ngSwitch]="content.type" class="mb-3">
        <!-- simple_text -->
        <div *ngSwitchCase="'simple_text'" [class]="message.fromBot ? 'bot-simple-text-holder' : 'user-simple-text-holder'">
          <span width="100">{{ content.text }}</span>
        </div>

        <!-- action_buttons -->
        <div *ngSwitchCase="'action_buttons'">
          <div class="basic-card-1-holder">
            <span width="100">{{ content.text }}</span>
          </div>
          <div class="action-buttons">
            <button nbButton outline size="small" *ngFor="let button of content.buttons" class="action-button" style="margin: 2px 5px 2px 0; color: #58595c; border-color: #58595c;" (click)="button.action()">{{ button.title }} 
            </button>
          </div>
        </div>

        <!-- basic_card -->
        <div *ngSwitchCase="'basic_card'">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="content.imageUrl" [alt]="content.title">
            <div class="card-body p-2">
              <h5 class="card-title">{{ content.subtitle }}</h5>
              <p class="card-text">{{ content.text }}</p>
              <a *ngFor="let button of content.buttons" [href]="button.url" target="_blank" role="button"
                class="btn btn-primary btn-sm mr-2">{{ button.title }}</a>
            </div>
          </div>
        </div>

        <!-- link_out_chip -->
        <!-- <div *ngSwitchCase="'link_out_chip'">
            <a [href]="content.url" target="_blank" role="button" class="suggestion link btn btn-sm btn-outline-info">
              {{ content.destinationName }} <i class="fa fa-external-link-square"></i>
            </a>
          </div> -->

        <!-- suggestion_chip -->
        <!-- <div *ngSwitchCase="'suggestion_chip'">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div *ngFor="let suggestion of content.suggestions" class="btn-group mr-2" role="group" aria-label="">
                <button type="button" (click)="sendSuggestion(suggestion.title)" class="suggestion link btn btn-sm btn-outline-info">{{ suggestion.title }}</button>
              </div>
            </div>
          </div> -->
      </div>
    </div>
    <div class="timeform">
      <span class="timestamp">{{ message.fromBot ? 'Júlio' : 'Você' }}</span>&nbsp;<i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">{{ message.timestamp | date : 'dd/MM/yyyy HH:mm ' }}</span>
    </div>
  </div>
  <img [src]="message.avatar" class="avatar-right" *ngIf="!message.fromBot"/>
</li>