.list-group-item-left {
  display: inline-flex;
  width: 100%;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.list-group-item-right {
  display: inline-flex;
  width: 100%;
  margin-bottom: 16px;
  justify-content: flex-end;
}

.bot-simple-text-holder {
  background-color: color(srgb 0.0289 0.2022 0.6013);
  border-radius: 4px 4px 0 4px;
  padding: 8px;
  font-size: smaller;
  color: white;
}

.basic-card-1-holder {
  background-color: color(srgb 0.0289 0.2022 0.6013);
  border-radius: 4px 4px 0 4px;
  padding: 8px;
  font-size: smaller;
  color: white;
}

.user-simple-text-holder {
  background-color: white;
  border-radius: 6px 6px 0 6px;
  padding: 8px;
  font-size: smaller;
  // color: white;
}

.message {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

.timeform {
  float: left;
  width: 100%;

  .timestamp {
    font-size: 0.6em;
  }
}

.avatar-left {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.avatar-right {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.action-buttons {
  margin: 5px 5px 5px 0 !important;

}

::ng-deep .action-buttons nb-button {
  margin-right: 5px !important;
  color: #58595c !important;
  border-color: #58595c !important;
}