.chatlist {
  height: calc(100vh - 268px) !important;
  overflow-y: auto;
}

.chat-bot-presentation {
  text-align: center;
}

.chat-bot-presentation-subtitle {
  margin: -30px 0 30px 0 !important;
}

.welcome-julio-avatar {
  margin: 30px 0 -30px 0;
  height: 110px;
  width: auto;
}